html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
  font-collor: #eaeaea;
}
.hero.is-success {
  background: #1c73a8;
  font-collor: #eaeaea;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 100;
  margin: 50px, 50px, 50px, 50px;
}
p {
  font-weight: 100;
   margin: 50px, 50px, 50px, 50px;
}

#table{
	
	
	
}